/*=======================================
各种文字的大小
=========================================
*/
.rt-text-important-01{
  color:#0099ff;
}

.item p .rt-text-important-01{
  color:#0099ff;
}

.rt-text-important-02{
  color:#222;
} 


.item p .rt-text-important-02{
  color:#222;
} 

.rt-text-important-03{
  color:#ef473a!important;
}

.rt-text-normal-01{
  color:#555;
} 

.item p .rt-text-normal-01{
  color:#555;
} 


.rt-text-weak-01{
  color:#888888;
} 

.item p .rt-text-weak-01{
  color:#888888;
} 

.rt-text-weak-02{
  color:#888888;
  font-size: 12px;
} 

.item p .rt-text-weak-02{
  color:#888888;
  font-size: 12px;
} 

.rt-text-box-left-01 {
  float: left;
  padding-left: 0;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

.rt-text-box-right-01 {
  float: right;
  padding-left: 10px;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.rt-text-box-right-02 {
  float: right;
  border: 1px solid #f8f8f8;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

/*============================================
日历控件的样式
============================================*/
.rt-calander-subheader {
    background-color: #fff;
    font-size: 14px;
    color: #555;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    width: 100%; }
  
  .rt-calander {
    background-color: #f8f8f8;
    padding: 10px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0; }
  
  .rt-calander p.week {
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
    height: 30px;
    line-height: 30px;
    color: #888;
    font-size: 12px;
    margin: 0; }
  
  .rt-calander p.week span {
    text-align: center;
    height: 30px;
    width: 30px; }
  
  .rt-calander p.day {
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
    height: 21px;
    line-height: 21px;
    color: #555;
    font-size: 14px;
    margin: 0; }
  
  .rt-calander p.day span {
    text-align: center;
    height: 21px;
    width: 21px; }
  
  .rt-calander p.day > span.today {
    border: 1px solid #0099ff;
    border-radius: 50%; }
  
  .rt-calander p.day > span.active {
    background-color: #0099ff;
    border-radius: 50%;
    color: #fff; }
  
  .rt-calander p.day > span.inactive {
    color: #ccc; }
  
  .rt-calander p.day-event {
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
    height: 10px;
    line-height: 10px;
    color: #888;
    font-size: 14px;
    margin: 0; }
  
  .rt-calander p.day-event span {
    text-align: center;
    flex: 1;
    height: 10px;
    width: 10px; }
  
  .rt-calander p.day-event span.hasEvent:after {
    display: inline-block;
    content: '●'; }


/*============================================
列表页面的过滤筛选的Bar
============================================*/
.rt-filter-bar {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  height: 34px;
  width: 100%;
}

.rt-filter-bar-popover {
  position: absolute;
  left: 0px;
  top: 44px;
  z-index: 10000;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
}

.rt-filter-bar-popover i.icon {
  font-size: 20px;
}