<div class="modal image-modal" ng-controller="imagePreviewerController" ng-click="closeDialog()">
    <style>
    .slider {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    
    .previewer-scroll-view {
        background-color: #000;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .scroll {
        width: 100%;
        display: table;
    }
    </style>
    <ion-slide-box active-slide="myActiveSlide">
        <ion-slide ng-repeat="image in previewImageList">
            <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane previewer-scroll-view" min-zoom="1" scrollbar-x="false" scrollbar-y="false" overflow-scroll="false">
                <div style="width:{{ screenWidth }};height:{{screenHeight}};display:table-cell;text-align:center;vertical-align: middle;">
                    <img style="max-width:{{screenWidth}};max-height:{{screenHeight}}" ng-src='data:image/jpeg;base64,{{ image.Base64Content }}'>
                </div>
            </ion-scroll>
        </ion-slide>
    </ion-slide-box>
    <div ng-if="canDelete" style="position:fixed;bottom:0;left:0;right:0;height:44px;background:rgba(0,0,0,0.8);">
        <button style="float:right;color:white;" class="button button-icon icon ion-ios-trash-outline" ng-click="deleteImage()">
        </button>
    </div>
</div>
